<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Salon Ice</title>
</head>
<body>
    <div class='container'>
            <h1>Salon Ice</h1>
            <p>The best hairstylists west of the Mississippi!</p>

        <div class="form-group">
            <form action="/stylists" method="post">
                <label for="stylist_name">Stylist: </label>
                <input type="text" name="stylist_name" placeholder="Enter Stylist Name" id="stylist_name">

                <button name="submit" class="btn-info">Add Stylist</button>
        </div>

        {% if stylists is not empty %}
            <p>Here are all your Stylists as Salon Ice:</p>
            <ul>
                {% for stylist in stylists %}
                <form action="/stylists" method="post">
        <input id="id" type="hidden" name="id" value="{{ stylists.getId() }}">
                </form>
                <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getStylistName }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <p>There are no stylists listed yet!</p>
            {% endif %}
            <button type='submit'class="btn-info">BLAH</button>


    </div>

</body>
</html>
