<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Salon Ice</title>
</head>
<body>
    <div class='container'>
        <h1>Salon Ice</h1>
        <p>The best hairstylists west of the Mississippi!</p>

        <div class="form-group">
            <form action="/stylists" method="post">
                <label for="stylist_name">Stylist: </label>
                <input type="text" name="stylist_name" placeholder="Enter Stylist Name" id="stylist_name">

                <button name="submit" class="btn btn-info">Add Stylist</button>
            </form>
        </div>

        {% if stylists is not empty %}
            <p>Here are all your Stylists as Salon Ice:</p>
            <ul>
                {% for stylist in stylists %}
                <form action="/stylists" method="post">
                <input id="id" type="hidden" name="id" value="{{ stylist.getId() }}">
                </form>
                <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getStylistName }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <p>There are no stylists listed yet!</p>
            {% endif %}

        <div class='container'>
            <form action='/delete_stylists' method='post'>
                  <div class='form-group'>
                     <br><button type='submit' class='btn btn-info left'>Clear stylists</button></br>
                  </div>
              </form>

              <form action='/delete_clients' method='post'>
                  <div class='form-group'>
                      <button type='submit' class='btn btn-info middle'>Clear clients</button>
                  </div>
        </div>
          </form>
    </div>
</body>
</html>
